.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
}

.home > div > a {
  max-height: fit-content;
  margin: 0.2rem;
  padding: 0.2rem;

  border-style: groove;
  border-width: 0.5rem;
  border-radius: 0.5rem;

  border-color: var(--color-border);
  box-shadow: 0 0 8px var(--color-shadow);
}

.home > div > a:hover {
  cursor: pointer;
  transform: translate(1px, -1px);

  background-color: var(--color-link-bg-hover);
  color: var(--color-link-hover);
}

.home > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;

  border-style: dashed;
  border-width: 0.3rem;

  border-color: var(--color-border);
  box-shadow: 0 0 8px var(--color-shadow);
}

.home > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.2rem;
}

.home > div > ul > li {
  list-style: circle;
}
